# gpsd_4752 daemon
type gpsd, domain;
type gpsd_exec, exec_type, file_type, system_file_type;

# Started by init
init_daemon_domain(gpsd)

allow domain gpsd_exec:file { getattr read };

allow gpsd self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow gpsd mozart_gps_data_file:dir rw_dir_perms;
allow gpsd mozart_gps_data_file:file create_file_perms;
allow gpsd mozart_gps_data_file:fifo_file create_file_perms;
