on post-fs-data
    mkdir /data/gps 775 root system
    mkdir /data/gps/log 770

    mkdir /data/hwzd_logs 775 root system
    mkdir /data/hwzd_logs/gps_log 775

on boot
    chmod 660 /dev/ttyAMA3

    chown root system /data/gps/gpsconfig.xml
    chmod 644 /data/gps/gpsconfig.xml

service gpsdaemon /system/bin/gpsdaemon
    class late_start
    oneshot

service gpsd_4752 /system/bin/glgps4752 -c /data/gps/gpsconfig.xml
    socket gps seqpacket 660 root root
    class late_start
    user root
    group system inet sdcard_rw wakelock
    disabled
